/*************************************************
 * Diagram objects shape
 *      ..Squares, rectangles, triangles...
 ************************************************/
section#interview-container {
    --selected-color: rgb(165, 26, 66);
    --helper-color: rgb(237, 91, 132);
}
 
/* Generic object */
section#interview-container .obj {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 1em;
    min-height: 1em;
    background-color: red;
    cursor: grab;
}

/* Object anchor points */
section#interview-container .obj[data-type="helper"] {
    background-color: var(--helper-color);
    cursor: crosshair;
    opacity: .8;
    border-radius: 50%;
}

/** When object is selected */
section#interview-container .obj.selected { 
    border: 2px dashed var(--selected-color) !important;
}

/** When object is focused */
section#interview-container .obj:focus { outline: none; }

/** Square */
section#interview-container .obj[data-type="square"] {
    background: #fff;
    border: 1px solid black;
    width: 3em;
    height: 3em;
}

/** Image */
section#interview-container .obj[data-type="image"] {
    background: transparent;
    border: none;
    width: 4em;
    height: 4em;
    background-size: cover;
}

/** Line */
section#interview-container .obj[data-type="line"] {
    background: black;
    border: 1px solid black;
    /*width: 50px; /!\ width value provided in javascript */
    height: 4px;
    min-height: 4px;
    transform: translate(-50%, -50%) rotate(0deg);
}

/** Text */
section#interview-container .obj[data-type="text"] {
    background: #fff;
    border: none;
    resize: both;
}

/** Pyramid */
/** ... */