
html(lang="en")
  head
    include includes/head.pug
  body

    div.container-fluid
      div.row.home-row
        div.col
          h1.text-center.mb-5 Online System Design Interview
          div.card
            div.card-body
              h5.card-title Join session
              form(action="#")
                input.form-control#sessid(type="text", placeholder="Enter session id") 
                br
                button.btn.btn-dark(type="button", onclick="window.location='/session/'+document.getElementById('sessid').value") 
                  i.bi.bi-plug
                  span Join 
              h2 or
              button.btn.btn-info(onclick="window.location='/session/create'")
                i.bi.bi-plus-square 
                span Create interview 
              hr
              p This web application can help you to explain and design a system
              div.alert.alert-warning This is an alpha.
          img(src='assets/img/faang.jpg')
        div.col
          img(src='assets/img/cloud1.jpg')

    

  include includes/footer.pug