
html(lang="en")
  head
    include includes/head.pug
  body

    //  Navbar
    nav.navbar.navbar-dark.bg-dark
      span.navbar-brand.mb-0.h1 Interview ##{uid}
      div.form-inline
        button.btn.btn-sm.btn-primary(onclick="alert('Share this URL: ' + window.location)")
          i.bi.bi-share 
          span Share

        button.btn.btn-sm.btn-danger(onclick="if(confirm('Exit this design ?')) window.location='/'")
          i.bi.bi-power 
          span Exit interview
    
    //  Interview container
    section#interview-container

    section#sidenav.container.m-0
      h2 Toolbox 
      hr

      //TODO: input(type="color")

      .card.mb-2(onclick="diagram.addElement('square')")
        .card-body
          i.bi.bi-bounding-box 
          span Square
      .card.mb-2
        .card-body
          i.bi.bi-slash 
          span Line
      .card.mb-2
        .card-body
          i.bi.bi-code 
          span Code extract
      .card.mb-2
        .card-body
          i.bi.bi-fonts 
          span Text
      .card.mb-2
        .card-body
          i.bi.bi-image 
          span Image

      console
        ul

  //  Footer
  include includes/footer.pug 

  //  Interview client logic
  script
    include includes/js/diagram.js
  script
    include includes/js/lobby.js